.register-card {
  margin-top: 40px;
  border-radius: 18px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
}

ion-card-subtitle {
  color: #666;
  margin-bottom: 10px;
}

ion-item {
  margin-top: 10px;
}

ion-button {
  margin-top: 20px;
  border-radius: 12px;
}
